TELEGRAM_BOT_TOKEN=CHANGE_ME_TELEGRAM_BOT_TOKEN
TELEGRAM_BOT_USERNAME=FAAgencyEarnBot
TELEGRAM_MINI_APP_URL=https://app.fa-agency.online
APP_URL=https://app.fa-agency.online
MINI_APP_URL=https://app.fa-agency.online
SUPPORT_URL=https://t.me/FAAgencyEarnBot
NODE_ENV=production
